<img src="https://comp116sp19.cs.unc.edu/images/COMP116Logo.png" style="display:inline; width:200px" />

# Midterm 2 for Section 1

**Don't Panic!**

You **may not use the Internet** for anything except retrieving and submitting your exam. Any other use will be a violation of the Honor Code. 

You **must turn off wireless on your laptop** while you take the exam.

You **may use** any resources that you have stored locally on your computer and one 8" X 10" paper note.

Of course you **may not** use phones, friends, etc.

**Submitting your exam:**
  * Turn on wireless before you hit the submit button.
  * You must submit your exam notebook before you leave the room.
  * You must use a valid submit code or you will not get any credit for the submission.
  * You will get a positive acknowledgement that submission was successful.
  * You can check your [report](https://comp116sp19.cs.unc.edu/io/report/report.cgi) to see that
  the submission was successful.




## Setup

The following code sets up the environment.
You cannot and should not update the following cell.

In [1]:
# Save your work every 15 seconds
%autosave 15

# imports needed for setup
import comp116
import numpy as np
import pickle
check, report = comp116.start('Midterm2')

with open('Midterm2.data.pickle', 'rb') as fid:
    classroom, hourlyDepth, siteNames, SELECTED_SITE_NAME = pickle.load(fid)

# Protect you, as best I can, from accidentally modifying test data
classroom.flags.writeable = False 
hourlyDepth.flags.writeable = False
siteNames.flags.writeable = False

Autosaving every 15 seconds

### Your Onyen, Section, Seat, and Pledge

#### Your Onyen
On this and all submissions, it's important to put your Onyen on it.

#### Section and seat

Please enter your section and seat to ensure you are taking the test that the system thinks you should be taking.

In [2]:
# Put your onyen between the quotes
Onyen = 'mdubois6' # UPDATE THIS LINE WITH YOUR CODE

# If you are in the 12:30 T/TH class, set Section='1'
# If you are in the 2:00 T/TH class, set Section='2'
Section = '1' # UPDATE THIS LINE WITH YOUR CODE

# Your seat number should agree with attendance/Seating
Seat = 'R-101' # UPDATE THIS LINE WITH YOUR CODE

In [3]:
check('Q0 Onyen', Onyen.lower() in classroom[:, 1], points=1)
your_info = classroom[ classroom[:, 1] == Onyen ]
print(your_info)
if len(your_info) == 0:
    print('You need to enter a valid Onyen!!!!')
    your_info = np.array([[0, 0, 0]])
check('Q0 Section', your_info[0,0] == Section, points=1)
check('Q0 Seat', your_info[0,2] == Seat, points=1)

Q0 Onyen appears correct
[['1' 'mdubois6' 'R-101']]
Q0 Section appears correct
Q0 Seat appears correct

#### Honor Pledge

I certify that **no unauthorized assistance** has been received or given in the completion of this work. 

Enter your full name as the value of the Pledge variable below.

**If you do not fill this in, you will receive a zero!**

In [4]:
Pledge = 'McKenzie DuBois' # UPDATE THIS LINE WITH YOUR CODE

In [5]:
check('Q0 Pledge', Pledge != '', points=1)

Q0 Pledge appears correct

## Partial Credit

I understand that to receive **any** partial credit,
I must resubmit this exam within one week of the exam date with no syntax errors and
all questions correctly answered (score of 100%).

In [6]:
I_understand_how_partial_credit_works = 'Yes'  ## Change this value to Yes

In [7]:
check('Q0 I understand how partial credit works', I_understand_how_partial_credit_works != 'No', points=1)

Q0 I understand how partial credit works appears correct

<img src="https://comp116sp19.cs.unc.edu/images/USGSLogo.png" style="float:right; width:100px" />

## Data

The non-string data, `hourlyDepth`, for this exam will be river gage height from the Cape Fear river and the tributaries of it.
The data comes from the US Geological Survey which monitors rivers in the United States.
I have taken the liberty of slightly modifing the actual data for your exam and the grader.

The columns are the station names which are in variable `siteNames` and the rows are the hourly readings.
You should not assume that the number of columns in the data used on your computer and that used by the grader are the same.
The data within the matrix should also not be assumed to be the same between your computer and the grader.

In other words, if asked for the number of columns and you _simply count_ the number of columns of the data used on your computer
the grader will grade it incorrect as it will be using different data.
You **MUST** calculate things programatically using Python functions.

The data for Midterm 2 `hourlyDepth` and `siteNames` will be used for questions 1 through 4.
Question 5 will use different data but similar variables.

The first twelve hours of data are:

In [8]:
print('Cape Fear river depth from Haw River/Deep River/Buckhorn Creek to sound.')
comp116.array_to_html(hourlyDepth[:12, :], col_names=[siteNames])

Cape Fear river depth from Haw River/Deep River/Buckhorn Creek to sound.

# Questions

## Q1 minimum river hights

Find the minimum river heights in `hourlyDepth` that correspond to column in `SELECTED_SITE_NAME`.

In [9]:
def getMinimumRiverHeights( depths, column_names, selected_name):
    '''
    Given a NumPy two dimensional array `depths` that has as many columns as names in `columns_names`,
    and given a `selected_name` that is in `column_names`... determine the minimum of the column
    of depths that corresponds to selected_name
    '''
    return np.min(depths[:,column_names == selected_name])

print ('The minimum value of', SELECTED_SITE_NAME, 'is', 
getMinimumRiverHeights(hourlyDepth, siteNames, SELECTED_SITE_NAME))

The minimum value of HAW RIVER NEAR MONCURE, NC is 2.49

In [10]:
comp116.check_function('Q1 minimum', getMinimumRiverHeights, hourlyDepth, siteNames, SELECTED_SITE_NAME, points=15)

Q1 minimum appears correct

## Q2 Unique words in `siteNames`

`siteNames` is a list of names that are each composed of blank separated words.
 1. Use the character string split method to break each siteNames and 
 2. Create a list of all the unique words in `siteNames`.


**Note:** `'hello cruel world'.split()` returns `['hello', 'cruel', 'world']`

In [11]:
def uniqueSiteWords( names ):
    '''
    Given a parameter names that is a Python list, return the unique words in the list.
    '''
    unique_word_list = []
    for line in ( names ): 
        for word in line.split():        
            if word not in unique_word_list: 
                unique_word_list.append(word)
    return sorted(unique_word_list)

print('The unique words in siteNames are', uniqueSiteWords(siteNames))

The unique words in siteNames are ['#1', 'AT', 'BUCKHORN', 'CAPE', 'CORINTH,', 'CREEK', 'DEEP', 'FEAR', 'HAW', 'HUSKE', 'KELLY,', 'LILLINGTON,', 'LOCK', 'MONCURE,', 'NC', 'NEAR', 'NR', 'O', 'R', 'RIVER', 'TARHEEL,', 'WILM']

In [12]:
comp116.check_function('Q2 unique site words', uniqueSiteWords, siteNames, points=15)

Q2 unique site words appears correct

## Q3 Maximum sites with the string ' AT ' contained in it.

`hourlyDepth` has as many columns as `siteNames` has elements.
Some `siteNames` elements contain the string `' AT '`.

For each column that correspond to `siteNames` that have `' AT '` find the maximum value.
You are **NOT** finding a single maximum value but the maximum value for each column that corresponds
to `siteNames` elements that have `' AT '` in it.

**NOTE:** It is not possible to use NumPy booleans to determine which `siteNames` have `' AT '` in them.

**NOTE:** For example, if `' AT ' in siteNames[0]` is True, find the maximum value in `hourlyDepth` column zero.
Find the maximum for all such columns that have the string `' AT '` in `siteNames`.

In [13]:
range(4)

range(0, 4)

In [24]:
def maximumLevelSitesWithString( names, string, depths ):
    '''
    Given an array of `names`, for the names that contain `string`, 
    return the maximum values of each of the corresponding columns in depths along 
    with the names that contain `string`.
    
    For example, if `names[0]` is 'DEEP RIVER AT MONCURE, NC' and string is
    ' AT ', then calculate the maximum for the zeroth column.  But if for
    example, `names[1]` is 'HAW RIVER NEAR MONCURE, NC' and string is
    ' AT ', then do NOT calculate the maximum for the first column because
    the `names[1]` does not contain the string `' AT '`.
    
    The returned maximum values and names should appear in the same relative order
    as their columns.   For example, if `names[0]` and `names[3]` are returned, 
    then `names[0]` should be in the returned array prior to `names[3]`.
    '''
    maximum_values = []
    list_of_names = []

    for indx in range(len(names)):
        if string in names[indx]:
            maximum_values.append(np.max(depths,axis =0)[indx])
            list_of_names.append(names[indx])
    return maximum_values, list_of_names
    
AT_STRING = ' AT '
maxs, names = maximumLevelSitesWithString(siteNames, AT_STRING, hourlyDepth)
print("The maximum values of sites with ' AT ' in it are", maxs)
print("The site names with ' AT ' in it are", names)

The maximum values of sites with ' AT ' in it are [8.93, 12.46, 16.86, 21.08]
The site names with ' AT ' in it are ['DEEP RIVER AT MONCURE, NC', 'CAPE FEAR RIVER AT LILLINGTON, NC', 'CAPE FEAR R AT WILM O HUSKE LOCK NR TARHEEL, NC', 'CAPE FEAR R AT LOCK #1 NR KELLY, NC']

In [15]:
comp116.check_function('Q3 max levels', maximumLevelSitesWithString, siteNames, AT_STRING, hourlyDepth, points=10)
CAPE_FEAR_STRING = 'CAPE FEAR'
maxs, names = maximumLevelSitesWithString(siteNames, CAPE_FEAR_STRING, hourlyDepth)
check('Q3 maxs', maxs, points=5)
check('Q3 names', names, points=5)

Q3 max levels appears correct
Q3 maxs appears correct
Q3 names appears correct

## Q4 Which site had the most decreases in river height

### Q4.1 For a column, determine greatest number of descreases and their index

In [28]:
def countConsecutiveDecreases(depth):
    '''
    Given a one dimensional array, determine the number of decreases in river height.
    
    Return the number of longest consecutive decreases in river height and its ending index.  If no
    decreases in river height, return the ending index of 0.
    '''
    longest_run_for_each_column = 0 
    ending_index = 0
    current_run_length = 0
    for row_indx in range(len(depth)-1):
        if (np.diff(depth,axis =0)[row_indx]) < 0.0:
            current_run_length += 1
        else:
            current_run_length = 0
        if current_run_length > longest_run_for_each_column:
            longest_run_for_each_column = current_run_length
            ending_index = row_indx+1
        
    return longest_run_for_each_column, ending_index

consecutive_decreases, indx = countConsecutiveDecreases(hourlyDepth[:, 0])
print('The number of consecutive decreases for column 0 are',
      consecutive_decreases, 'and ends at index', indx)
comp116.array_to_html(hourlyDepth[(indx-consecutive_decreases):indx, 0].reshape((1, -1)))

The number of consecutive decreases for column 0 are 111 and ends at index 643

In [17]:
comp116.check_function('Q4.1 first column consecutive decreases', countConsecutiveDecreases, hourlyDepth[:, 0], points=15)

Q4.1 first column consecutive decreases appears correct

### Q4.2 Which site has the longest length of consecutive river decreases

You may want to use the function `countConsecutiveDecreases` from question Q4.1.

In [38]:
def siteWithLongestConsecutiveDecreases(depth, names):
    '''
    For a two dimensional array, determine the site (column) that has the most consecutive river decreases
    
    Return the site name that has the most consecutive river decrease along with the number of consecutive decreases.
    If no consecutive river heights decrease, return None and 0
    '''
    site_name = None
    max_decreases = 0
    # PUT YOUR CODE HERE
    for indx in range(len(depth[4])):
        decreases = countConsecutiveDecreases(depth[:,indx])[0]
        #print(decreases)
        if decreases > max_decreases:
            max_decreases = decreases
            site_name = names[indx]
        
    return site_name, max_decreases

    
site, max_decreases = siteWithLongestConsecutiveDecreases(hourlyDepth, siteNames)
print('Site', site, 'has the most consecutive decreases of', max_decreases )

Site DEEP RIVER AT MONCURE, NC has the most consecutive decreases of 111

In [19]:
comp116.check_function('Q4.2 max decreases', siteWithLongestConsecutiveDecreases, hourlyDepth, siteNames, points=10)

Q4.2 max decreases appears correct

## Q5 Read river locations line data

Similar to Assignment 3, write a function `readLocationsFile(name)` that will read the rivers location file whose name is given as the parameter. 
Your function should return a Python tuple containing 3 values: (names, type, heights)

You are given a dataset, locationsByLine.data, consisting of river level heights in feet at several locations on the tributaries to the Cape Fear River. 
One caveat is that some of the numerical data may be an invalid float format.
In that case, ensure that your program does not take an exception but instead substitutes a
0 for any `ValueError` exceptions.

### Format of a river location data:
<pre>

COLUMNS        DATA TYPE           CONTENTS
--------------------------------------------------------------------------------
 1- 14         Location name       The name of the river location
15- 23         Type                Either TRIBUTARY or MAIN river
24-            River level         An array of daily river levels every 5 characters.
</pre>
For example:

<pre>
         1         2         3         4         5         6         7         8         9
123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890
DEEP RIVER    TRIBUTARY 2.94 2.93 2.92 2.91 2.91 2.9  2.89 2.88 2.87 2.86 2.86 2.85
HAW RIVER     TRIBUTARY 3.52 3.52 3.5  3.5  3.5  3.48 3.48 3.48 3.48 3.47 3.47 3.46
BUCKHORN CRK  TRIBUTARY 2.63 2.63 2.63 2.63 2.62 2.61 2.61 2.61 2.61 2.61 2.61 2.61
CAPE FEER     MAIN      4.87 4.72 4.6  4.51 4.45 4.4  4.37 4.34 4.32 4.3  4.29 4.27
</pre>

In [20]:
def readRiverDataFile(filename):
    '''Read a river data file, location name, location type, and the river levels.
       Return a tuple of the names, types, and levels that were read.'''
    # build them up in lists because they are cheap to append
    loc_names = []
    loc_types = []
    river_levels = []

    #your work goes here. You should read the river information as described aove.
    
    for line in open (filename):
        # process only the lines
        loc_names.append( line[0:14] )
        loc_types.append( line[14:23] )
             
        valueLine = []
        for value in line[23:].split():
            try:
                valueLine.append(float(value))
            except ValueError:
                valueLine.append( 0 )
        river_levels.append( valueLine )

    # convert the results to numpy arrays
    loc_names = np.array(loc_names)
    loc_types = np.array(loc_types)
    river_levels = np.array(river_levels)

    # return the 3 results
    return (loc_names, loc_types, river_levels)

names, types, levels = readRiverDataFile('locationsByLine.data')
print("river levels:")
comp116.array_to_html(levels, row_names=names)
print("river types", types)

river levels:

river types ['TRIBUTARY' 'TRIBUTARY' 'TRIBUTARY' 'MAIN     ']

In [21]:
comp116.check_function('Q5 read river', readRiverDataFile, 'locationsByLine.copy.data', points=5)
check('Q5 river names', names, points=5)
check('Q5 river types', types, points=5)
check('Q5 river level', levels, points=5)

Q5 read river appears correct
Q5 river names appears correct
Q5 river types appears correct
Q5 river level appears correct

In [22]:
# It is going to check that your Onyen and Pledge are filled out correctly.
# If they are not filled out correctly, you should go back to the unlocker and execute the Submit your exam.
report(Onyen, Pledge)
print('The submit button for the quiz is in the ExamUnlocker notebook')

Q0 I understand how partial credit works appears correct
Q0 Onyen appears correct
Q0 Pledge appears correct
Q0 Seat appears correct
Q0 Section appears correct
Q1 minimum appears correct
Q2 unique site words appears correct
Q3 max levels appears correct
Q3 maxs appears correct
Q3 names appears correct
Q4.1 first column consecutive decreases appears correct
Q4.2 max decreases appears correct
Q5 read river appears correct
Q5 river level appears correct
Q5 river names appears correct
Q5 river types appears correct
Report for mdubois6
  Pledged on my honor: McKenzie DuBois
    mckenziedubois
  16.0 of 16 possibly correct for up to 100.0 of 100 points
The submit button for the quiz is in the ExamUnlocker notebook

## Done!
<img src="restartAndClearOutput.png" width="300" style="float: right" />

Now go back, restart the kernel (menu <font color="green">Kernel</font>-><font color="green">Restart and Clear</font>), and then Shift-Enter your way through the notebook to run all the cells again so you an be sure all your code will work as you expect during grading.

## Saving your work
<img src="saveAndCheckpoint.png" width="300" style="float: right" />

Now save your work by going to (menu <font color='green'>File</font>-><font color='green'>Save and Checkpoint</font>)

## Close this notebook and then go back to the Exam1AUnlocker
<img src="closeAndHalt.png" width="300" style="float: right" />

Before going back to the Exam1AUnlocker and submit your work, you'll need to go close this
notebook (menu <font color='green'>File</font>-><font color='green'>Close and Halt</font>.)


Note that if you actually saved your work you should not see the leaving site message below.
If you do see the `Leave Site` warning, cancel and save your work again.
<br />
<img src="leaveSite.png" width="300" style="float: left" />